<h1>North Wind</h1>

<form method="get" action="/odata/supplier">
Enter Product ID: <input type="text" name="productID"/>
<input type="submit" value="Get Supplier"/>
</form>

<form method="get" action="/odata/orderID">
Enter Product ID: <input type="text" name="productID"/>
<input type="submit" value="Get Orders"/>
</form>

<form method="get" action="/odata/customerContact">
Enter Product ID and I will find Customer's who ordered it: <input type="text" name="productID"/>
<input type="submit" value="Get Customer"/>
</form>

