<div><span class="label">Product ID:</span> <%=@productID%></div>
<br/>
The number of orders for product ID <%=@productID%> is <%=@count%><br/>

<%@orderDetailHash["value"].each do |orderDetail|
url = "http://services.odata.org/Northwind/Northwind.svc/Orders(#{orderDetail["OrderID"]})/Customer?$format=json"
	customer = Net::HTTP.get_response(URI.parse(url)).body
	customerHash = JSON.parse(customer)%>
	<%=customerHash["ContactName"]%><br/>
<%end%>	