// Place all the styles related to the odata controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

//This is the div that holds the results of asynchronous calls
#result{
	padding: 15px;
}

//Class for error messages which are displayed in red.
.error{
	color: red;
}

//form and field labels are in bold
.label{
	font-weight:bold;
}


/*Responsive design, Adjust table columns (which are 
displayed according to priority*/
/* Show priority 1 at 320px (20em x 16px) */
@media screen and (min-width: 20em) {
   .my-custom-class th.ui-table-priority-1,
   .my-custom-class td.ui-table-priority-1 {
     display: table-cell;
   }
}
/* Show priority 2 at 480px (30em x 16px) */
@media screen and (min-width: 30em) {
   .my-custom-class  th.ui-table-priority-2,
   .my-custom-class td.ui-table-priority-2 {
     display: table-cell;
   }
}